body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.container {
  
  margin: 0 auto;
  padding: 20px;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.load-more {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.hidden {
  display: none;
}
.photo-card {
  width: 360px;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.photo-card img {
  width: 360px;
  display: block;
  height: 200px;
  object-fit: cover;
}

.info {
  padding: 10px;
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.info-line {
  display: flex;
  justify-content: space-between;
}

.info-item {
  margin: 5px;
  font-size: medium;
}

.info-item b {
  margin-right: 2%;
}
